body, html {
	width:100%;
	height:100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
body {
	background-color:#000;
	color:#fff;
	font-family:Georgia;
	background-image: url(bkg2.png);
	background-size: contain;
}


#container {
	width:100%; height:100%;
	padding: 10px 0 0 0;
}

#header {
	width:1400px;
	margin:50px auto 0 auto;
	text-align: center;
    font-size: 50px;
    color: #999;
    font-style: italic;
    letter-spacing: -1px;
}

#header div {
	display:inline-block;
	margin:0 20px;
	vertical-align: top;
}

#header div.text {
	margin-top:43px;
	text-shadow: 0px 3px #000;
}

#header #logo {
	width:490px;
	height:99px;
	background-repeat: no-repeat;
	background-image: url(img/commonspace.png);
	background-size: cover;
}

#sep {
	width: 1400px;
    border-top: solid 2px rgba(255,255,255,0.35);
    margin: 20px auto 0 auto;
    display:none;
}
#sep2 {
	width: 1350px;
    border-top: solid 1px rgba(255,255,255,0.35);
    margin: 5px auto;
    display:none;
}

#contents {
    margin: 20px auto 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding:0 40px;
}

#left, #right {
	float: left;
	box-sizing: border-box;
	padding: 25px 30px;
	/*border: solid 1px #fff;*/
}
#left {
	width: 50%;
}
#right {
	width: 50%;
}

.floor {
	padding:10px 0 10px;
}

.floor-title {
	font-size:30px;
	padding:0 0 5px 0;
	margin:0 0 20px 0;
	border-bottom: solid 1px rgba(255,255,255,0.35);
}
.floor-title .num {
	width:70%;
	float:right;
	text-shadow: 0px 3px #000;
	color:#999;
}

.tenant {
	margin-bottom:25px;
}
.tenant .name {
}
.tenant .name .suite {
	display:inline-block;
	box-sizing: border-box;
	width:30%;
	float:left;
	font-size: 24px;
	padding-left:50px;
	text-transform: uppercase;
	color:rgba(255,255,255,0.5);
}
.tenant .name .title {
	font-size:36px;
	float:right;
	width:70%;
	box-sizing: border-box;
	line-height: 38px;
}
.tenant .name .title small {
	color:rgba(255,255,255,0.6);
	line-height: 22px;
	font-size: 24px;
	display:block;
}
.tenant .name .title p {
	margin:0 0 20px 0;
}
.tenant .name .title .line {
	margin-top:20px;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#lease {
	width:100%;
	position:fixed;
	text-align: center;
	bottom:25px;
	left:0;
	box-sizing: border-box;
	padding-bottom:10px;
	color:rgba(255,255,255,0.5);
	font-style: italic;
	font-size: 18px;
}

#right {
	height: 770px;
    overflow: hidden;
    box-sizing: border-box;
   
    margin-left: 0px;
}

#right #events {
	height:100%;
	box-sizing: border-box;
	padding:20px;
	border-left:dashed 1px #666;
}

#right #events-title {
    text-shadow: 0px 3px #000;
    color: #c50;
    font-size: 26px;
    padding: 10px 0 5px 0;
    margin: 0 0 20px 0;
    /*border-bottom: solid 1px rgba(255,255,255,0.35);*/
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

#right .date {
    text-shadow: 0px 3px #000;
    color: #999;
    text-align: center;
    font-size: 24px;
    margin: 40px 0 10px 0;
}

#right .event {
	font-size: 18px;
    margin: 20px 0;
}
#right .event .evt_time {
	float:left;
	width:30%;
	text-align: right;
	box-sizing: border-box;
	padding-right: 20px;
	color:#666;
	font-size:24px;
}
#right .event .evt_name {
	float:right;
	width:70%;
	text-align: left;
	box-sizing: border-box;
	font-size: 28px
}

.event:nth-child(3) .evt_name {
    font-weight: bold;
    font-size: 32px;
}
.event:nth-child(3) .evt_time {
    font-weight: bold;
    font-size: 28px;
}
